<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564863880384-qkiqqvu54q00udmvjpatgnlp9mh9bpud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564863880384-qkiqqvu54q00udmvjpatgnlp9mh9bpud</string>
	<key>API_KEY</key>
	<string>AIzaSyCKo5wtAURra4vx5EUmv08WwbgW4qI-DMg</string>
	<key>GCM_SENDER_ID</key>
	<string>564863880384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodpanda</string>
	<key>PROJECT_ID</key>
	<string>foodpanda-8adb3</string>
	<key>STORAGE_BUCKET</key>
	<string>foodpanda-8adb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564863880384:ios:257d948ab7bd7323803125</string>
</dict>
</plist>